Set-Content .gitignore @"
# Virtual Environments
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc

# Local SQLite Database (keeps daughter's progress local / cloud session isolated)
science_tutor.db

# IDE
.idea/
.vscode/
"@

#.streamlit
.streamlit
.streamlit/secrets.toml

#pyproject.toml
pyproject.toml

#uv.lock
uv.lock

#pyproject.toml
pyproject.toml
